<div class="container-fluid">
    <div class="heading">
        <h4 class="text-center">World Drivers Champions</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" *ngIf="worldChampions">

                    <!-- Year Column -->
                    <ng-container matColumnDef="Season">
                        <th mat-header-cell *matHeaderCellDef> Season </th>
                        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                    </ng-container>

                    <!-- Driver Name Column -->
                    <ng-container matColumnDef="Driver Name">
                        <th mat-header-cell *matHeaderCellDef> Driver Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.driverName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" style="background-color: red; color:white;">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class='fake-link'
                        (click)="fixSelectedDriverId(row)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

        <div class="col-md-6">
            <app-world-champion-detail [driverId]="driverIdSelected" [championshipSeason]="championshipSeason">
            </app-world-champion-detail>
        </div>

    </div>
</div>