table {
    width: 100%;
    border: 0.25px solid red;
    // border-radius: 50%;
    border-width: 2%;
    box-shadow: 5px 5px 5px 5px black;
    height:75%;
    margin-bottom: 2%;
  }

  h4 {
    background-image: linear-gradient(red, black);
    color: white;
}