<div *ngIf="driverDetail">
    <h4 class='text-center'>Constructors</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Constructor Name Column -->
        <ng-container matColumnDef="Constructor">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.constructorName}} </td>
        </ng-container>

        <!-- Start Year Column -->
        <ng-container matColumnDef="From">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let element"> {{element.startYear}} </td>
        </ng-container>

        <!-- End Year Column -->
        <ng-container matColumnDef="Till">
            <th mat-header-cell *matHeaderCellDef> Till </th>
            <td mat-cell *matCellDef="let element"> {{element.endYear}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>